@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* @apply bg-white dark:bg-gray-950; */
/* 
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}
.bg-test {
  background-image: url("/herobg.svg");
  background-size: cover;
  background-position: center;
}
.ql-editor ul {
  list-style-type: disc; /* Bullet points */
  padding-left: 20px;
}

.ql-editor ol {
  list-style-type: decimal; /* Numbered list */
  padding-left: 20px;
}

.portfoliocard{
    /* transform: rotate(-5deg); */
  }
  .portfoliocards:hover .portfoliocard {
    display: flex;
  }
  .outline-text {
    color: transparent;
    -webkit-text-stroke: 1px black; /* Adjust thickness and color */
  }
  .header-info svg ,.message svg{
    height: 35px;
    width: 35px;
    padding: 6px;
    fill:#4A2848;
    background: #fff;
    flex-shrink: 0;
    border-radius: 50%;
  }
  .message svg{
    background:#4A2848;
    fill: #fff;
    align-self: flex-end;
    margin-bottom: 2px;
  }
  
.scrollbar-thin::-webkit-scrollbar {
  width: 6px; /* Thin width */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #4A2848; /* Thumb color */
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}
  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @layer utilities {
    .animate-slide-up {
      animation: slide-up 0.5s ease-in-out;
    }
  }
  
@layer components {
  .clip-triangle {
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
.ql-editor ul {
  list-style-type: disc;
  padding-left: 20px;
}

.ql-editor ol {
  list-style-type: decimal; /* Numbered list */
  padding-left: 20px;
}
.logo {
  width: 100%;
  max-width: 200px; 
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 10px;
}



@layer components {
  .clip-triangle {
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
