@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-test {
  background-image: url("/herobg.svg");
  background-size: cover;
  background-position: center;
}

@layer components {
  .clip-triangle {
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
