@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-test {
  background-image: url("/herobg.svg");
  background-size: cover;
  background-position: center;
}
.portfoliocard{
    /* transform: rotate(-5deg); */
  }
  .portfoliocards:hover .portfoliocard {
    display: flex;
  }
  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @layer utilities {
    .animate-slide-up {
      animation: slide-up 0.5s ease-in-out;
    }
  }
  
@layer components {
  .clip-triangle {
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
